---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title="Cookie Policy - Marco Munich" description="Cookie Policy di marcomunich.com">
  <main class="legal-page">
    <div class="container py-20 px-4 max-w-4xl mx-auto">
      <h1 class="text-4xl font-bold mb-8 text-center">Cookie Policy</h1>
      
      <div class="prose prose-lg max-w-none text-gray-700">
        <p><strong>Cookie Policy</strong></p>
        
        <p>La presente Cookie Policy, riguarda l’utilizzo di Cookie da parte del Sito web <strong>www.</strong><strong>marcomunich.com</strong></p>
        
        <p>Per la Privacy Policy del Sito web si può <strong><a href="/privacy-policy/">cliccare qui</a>.</strong></p>
        
        <p>I Cookie sono piccoli file di testo di piccole dimensioni che possono essere utilizzati dai siti web per rendere più efficiente l’esperienza per l’Utente e che vengono inviate al suo browser, dove vengono memorizzati per essere poi ritrasmessi allo stesso Sito web alla sua successiva visita del medesimo. I Cookie hanno funzioni diverse.</p>
        
        <p>I Cookie hanno il fine di migliorare la funzionalità e la navigazione di questo Sito web. In altri casi, invece, i Cookie sono utilizzati per monitorare gli utenti durante la navigazione, registrano informazioni su ciò che l’Utente compra o potrebbe voler comprare, analizzando le sue letture, gli hobby, per personalizzare la pubblicità e contenuti, fornire le funzioni dei social media e analizzare il traffico. Nel suo browser l’Utente può impostare le preferenze di Privacy in modo da non memorizzare Cookie, cancellarli dopo ogni visita o ogni volta che chiude il browser, o anche accettare solo i Cookie di <strong>marcomunich.com</strong> e non quelli di terze parti.</p>
        
        <p><strong>1. Cookie Tecnici</strong></p>
        
        <p>I Cookie tecnici sono quelli il cui utilizzo non richiede il consenso dell’Utente. I Cookie tecnici sono utilizzati al solo fine di rendere possibile la navigazione dell’Utente sul Sito web e consentirgli di utilizzarne le funzionalità. Si tratta sempre di Cookie di prima parte, in quanto sono veicolati direttamente dal Titolare sul Sito web. I Cookie di navigazione sono normalmente Cookie di sessione e, pertanto, una volta chiuso il browser di navigazione, vengono disattivati automaticamente. Altri Cookie tecnici sono utili per consentire di memorizzare alcune preferenze dell’Utente senza doverle reimpostare nel corso delle visite successive (c.d. Cookie di Funzionalità). Per questo motivo, i Cookie di funzionalità sono spesso Cookie persistenti, in quanto rimangono memorizzati nel computer dell’Utente anche dopo la chiusura del browser di navigazione, fino alla data di scadenza per essi prevista o fino a quando l’Utente abbia deciso di eliminarli.</p>
        
        <p><strong>2. Cookie di Terze parti</strong></p>
        
        <p>Questi Cookie sono utilizzati al fine di raccogliere informazioni sull’utilizzo del Sito web fatto da parte degli Utenti in forma anonima quali: pagine visitate, tempo di permanenza, origini del traffico di provenienza, provenienza geografica, età, genere e interessi ai fini statistici e di campagne di marketing. Questi Cookie sono inviati da domini di terze parti esterni al Sito web.</p>
        
        <p><strong>2.1 Google Analitycs</strong></p>
        
        <p>Google Analytics fa uso dei Cookie per raccogliere informazioni, in forma aggregata, sul numero degli Utenti e su come essi visitino questo Sito web. Questo Sito web utilizza il servizio Google Analitycs offerto da Google Ireland Limited, con IP anonimizzato, i cui relativi Cookie sono quindi di terze parti, per il monitoraggio statistico delle attività realizzate sul Sito web. Google Analytics utilizza Cookie che non memorizzano dati personali. Attraverso l’uso del pannello di Google Analytics, è possibile capire se le visite siano state effettuate da visitatori nuovi o di ritorno verificando la modalità di navigazione delle pagine (link di ingresso, di uscita, spostamenti tra le pagine, tempi di permanenza, provenienza geografica, ecc.).</p>
        
        <p>Per ulteriori informazioni relative a Google Analytics è possibile consultare i siti:</p>
        
        <ul>
          <li><a href="https://www.google.it/policies/privacy/partners/" target="_blank" rel="noopener">https://www.google.it/policies/privacy/partners/</a></li>
          <li><a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage" target="_blank" rel="noopener">https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage</a></li>
        </ul>
        
        <p>È possibile disabilitare l’azione di Google Analytics attraverso l’opt out:</p>
        
        <p><a href="https://tools.google.com/dlpage/gaoptout" target="_blank" rel="noopener">https://tools.google.com/dlpage/gaoptout</a></p>
        
        <p><strong>2.2 Pulsanti e Widget di social network</strong></p>
        
        <p>Il Sito web non condivide nessuna informazione con i widget e non ha accesso ai Dati che sono autonomamente raccolti e trattati dai gestori delle piattaforme dei social network.</p>
        
        <p>Per avere informazioni ulteriori riguardo ai Cookie dei social network utilizzati dal Sito web è possibile visitare i siti:</p>
        
        <ul>
          <li>Facebook: <strong><a href="https://www.facebook.com/policies/cookies/" target="_blank" rel="noopener">https://www.facebook.com/policies/cookies/</a></strong></li>
          <li>Instagram: <strong><a href="https://help.instagram.com/1896641480634370" target="_blank" rel="noopener">https://help.instagram.com/1896641480634370</a></strong></li>
        </ul>
        
        <p><strong>2.3 Contenuti su piattaforme esterne</strong></p>
        
        <ul>
          <li>Youtube:<strong> <a href="https://policies.google.com/technologies/cookies?hl=it" target="_blank" rel="noopener">https://policies.google.com/technologies/cookies?hl=it</a></strong></li>
          <li>Google Font<strong>: <a href="https://policies.google.com/technologies/types?hl=it" target="_blank" rel="noopener">https://policies.google.com/technologies/types?hl=it</a></strong></li>
          <li>Vimeo: <strong><a href="https://vimeo.com/cookie_policy" target="_blank" rel="noopener">https://vimeo.com/cookie_policy</a></strong></li>
        </ul>
        
        <p><strong>2.4 Newsletter</strong></p>
        
        <p>Questo Sito web fa uso del servizio<strong> Active Campaign </strong>che organizza e analizza la distribuzione di newsletter per analizzare la propria newsletter. <strong><a href="https://www.activecampaign.com/legal/cookie-policy" target="_blank" rel="noopener">https://www.activecampaign.com/legal/cookie-policy</a></strong></p>
        
        <p><strong>2.5 Metodi di pagamento</strong></p>
        
        <ul>
          <li>Paypal:<strong> <a href="https://www.paypal.com/it/webapps/mpp/ua/cookie-full" target="_blank" rel="noopener">https://www.paypal.com/it/webapps/mpp/ua/cookie-full</a></strong></li>
          <li>Stripe:<strong> <a href="https://stripe.com/cookies-policy/legal" target="_blank" rel="noopener">https://stripe.com/cookies-policy/legal</a></strong></li>
        </ul>
        
        <p><strong>3. Cookie di profilazione</strong></p>
        
        <p>I Cookie di profilazione sono utilizzati per creare un profilo di Utente, basato sulle preferenze ed i gusti da lui manifestati durante la navigazione su Internet, e fargli visualizzare messaggi pubblicitari coerenti con il suo profilo. In questo modo i messaggi pubblicitari che l’Utente visualizzerà su questo Sito web potranno essere per lui maggiormente interessanti. Come previsto dalla normativa vigente in materia di privacy, per l’installazione di tali Cookie è richiesto il preventivo consenso.</p>
        
        <p><strong>3.1 Google ADS (Google</strong> <strong>Ireland Limited)</strong></p>
        
        <p>È possibile disabilitare permanentemente le funzioni di targeting e di remarketing disabilitando la funzione “pubblicità personalizzata” nell’account Google. Per farlo, è sufficiente seguire questo link: <a href="https://www.google.com/settings/ads/onweb/" target="_blank" rel="noopener"><strong>https://www.google.com/settings/ads/onweb/</strong></a></p>
        
        <p><strong>3.2 Facebook ADS</strong></p>
        
        <p>Per controllare e disabilitare le inserzioni è sufficiente seguire questi link: <a href="https://www.facebook.com/policies/cookies/" target="_blank" rel="noopener"><strong>https://www.facebook.com/policies/cookies/</strong></a><strong> e</strong> <a href="https://www.facebook.com/ads/settings" target="_blank" rel="noopener"><strong>https://www.facebook.com/ads/settings</strong></a></p>
        
        <p><strong>3.3 Instagram ADS</strong></p>
        
        <p>Per controllare e disabilitare le inserzioni è sufficiente seguire questi link:<strong> <a href="https://help.instagram.com/615366948510230" target="_blank" rel="noopener">https://help.instagram.com/615366948510230</a></strong></p>
        
        <p><strong>3.4 Hotjar</strong></p>
        
        <p>Per controllare e disabilitare le inserzioni è sufficiente seguire questi link:</p>
        
        <p><a href="https://www.hotjar.com/legal/compliance/opt-out" target="_blank" rel="noopener">https://www.hotjar.com/legal/compliance/opt-out</a></p>
        
        <p><strong>4. Eliminare o disattivare i Cookie</strong></p>
        
        <p>Fatta eccezione per i Cookie tecnici strettamente necessari alla normale navigazione, il conferimento dei Dati è rimesso alla volontà dell’Utente che decide di navigare sul sito dopo aver preso visione dell’informativa breve contenuta nell’apposito banner e di usufruire dei servizi di terze parti che comportano l’installazione di Cookie. L’Utente può quindi evitare l’installazione dei Cookie mantenendo il banner (astenendosi quindi dal chiuderlo cliccando sul tasto “OK”) togliendo il segno di spunta ad alcuni o a tutte le categorie di Cookie utilizzate dal Sito (Preferenze, Statistiche, Marketing, etc.), nonché attraverso le apposite funzioni disponibili sul proprio browser.</p>
        
        <p>L’Utente può gestire le preferenze relative ai Cookie direttamente all’interno del suo browser ed impedire che terze parti possano installarne.</p>
        
        <p>È importante che l’Utente sappia che disabilitando tutti i Cookie, il funzionamento di questo Sito potrebbe essere compromesso.</p>
        
        <p>Ciascun browser presenta procedure diverse per la gestione delle impostazioni.</p>
        
        <p>L’Utente può ottenere istruzioni specifiche attraverso i link sottostanti.</p>
        
        <ul>
          <li><a href="https://support.google.com/chrome/answer/2392971?hl=it-IT" target="_blank" rel="noopener">Android</a></li>
          <li><a href="http://support.mozilla.com/it/kb/Eliminare%20i%20cookie" target="_blank" rel="noopener">Mozilla Firefox</a></li>
          <li><a href="http://windows.microsoft.com/it-IT/windows-vista/Delete-your-Internet-cookies" target="_blank" rel="noopener">Internet Explorer</a></li>
          <li><a href="http://support.google.com/chrome/bin/answer.py?hl=it&answer=95647" target="_blank" rel="noopener">Google Chrome</a></li>
          <li><a href="http://support.apple.com/kb/PH5042" target="_blank" rel="noopener">Safari</a></li>
          <li><a href="http://www.opera.com/browser/tutorials/security/privacy/" target="_blank" rel="noopener">Opera</a></li>
          <li><a href="https://support.apple.com/it-it/HT201265" target="_blank" rel="noopener">iOS</a></li>
        </ul>
        
        <p>Per disabilitare i Cookie di terza parte è inoltre possibile utilizzare <strong>Your Online Choices,</strong> <a href="http://www.youronlinechoices.com/it/le-tue-scelte" target="_blank" rel="noopener"><strong>http://www.youronlinechoices.com/it/le-tue-scelte</strong></a><strong> </strong>un servizio web gestito dall'associazione non-profit European Interactive Digital Advertising Alliance (EDAA) che fornisce informazioni sulla pubblicità comportamentale basata sui Cookie di profilazione e consente agli utenti di opporsi facilmente (opt-out) alla loro installazione. Eliminando tutti i Cookie dal proprio browser o rimuovendoli attraverso servizi come Your Online Choices questi, se di terza parte, saranno inibiti genericamente, non solo nel perimetro di questo sito.</p>
        
        <p><strong>5. Ulteriori informazioni sul trattamento</strong></p>
        
        <p><strong>5.1 Informative specifiche</strong></p>
        
        <p>Su richiesta dell’Utente, in aggiunta alle informazioni contenute in questa Cookie Policy, questo Sito potrebbe fornire delle Informative aggiuntive e contestuali riguardanti servizi specifici, o la raccolta ed il trattamento di Dati Personali.</p>
        
        <p><strong>5.2 Log di sistema e manutenance</strong></p>
        
        <p>Per necessità legate al funzionamento ed alla manutenzione, questo Sito e gli eventuali servizi terzi da esso utilizzati potrebbero raccogliere Log di sistema, ossia file che registrano le interazioni e che possono contenere anche Dati Personali, quali l’indirizzo IP Utente.</p>
        
        <p><strong>5.3 Informazioni non contenute in questa Cookie Policy</strong></p>
        
        <p>Maggiori informazioni in relazione al trattamento dei Dati Personali potranno essere richieste in qualsiasi momento al Titolare del Trattamento utilizzando le informazioni di contatto.</p>
        
        <p><strong>5.4 Esercizio dei diritti dell’interessato</strong></p>
        
        <p>L’interessato potrà esercitare i suoi diritti contattando il Titolare all'indirizzo indicato in questa Cookie Policy o alla mail: info@marcomunich.com.</p>
        
        <p>Privacy Policy aggiornata a dicembre 2019</p>
      </div>
    </div>
  </main>
</BaseLayout>

<style>
  .legal-page {
    background-color: #f9fafb;
  }
  .prose h1, .prose h2, .prose h3 {
    color: #111827;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .prose p {
    margin-bottom: 1.25rem;
    line-height: 1.75;
  }
  .prose strong {
    color: #111827;
  }
  .prose ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-bottom: 1.25rem;
  }
  .prose li {
    margin-bottom: 0.5rem;
  }
  .prose a {
    color: #2563eb;
    text-decoration: underline;
  }
  .prose a:hover {
    color: #1d4ed8;
  }
</style>
